{% import "person.html" as person %}
{% macro title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">{{ page.date | date(format="%F") }}</span> |
            <span class="post__author">
              {{ person::person(person=page.extra.author) }}
            </span>
            {% if page.category %}
                <div class="post__category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
    </header>
    {% for area in page.taxonomies.areas %}
      {% if area not in ["Artificial Intelligence", "Graphics", "Programming Languages", "Security", "Systems", "Theory"] %}
         <h1>WARNING: Invalid area "{{ area }}" found; please read instructions again thoroughly. Areas must only be from the list ["Artificial Intelligence", "Graphics", "Programming Languages", "Security", "Systems", "Theory"]</h1>
      {% endif %}
    {% else %}
         <h1>WARNING: No areas specified; please read instructions again thoroughly. At least one area from the following list must be specified: ["Artificial Intelligence", "Graphics", "Programming Languages", "Security", "Systems", "Theory"]</h1>
    {% endfor %}
{% endmacro title %}
